Detailed Requirements:
Using Python, JavaScript, HTML, CSS for coding the web app with two pages, login page and main page, which stores user's budgeting tool and budget.
Using Node.js for run time environment.
The budgeting tool is coded using JavaScript.
User submit a form to create a budget with text fields of name and amount.
User can add a budge item with name, dollar amount
The summary panel automatically adds up user expenditure and calculate, displays estimated budget, spending amount and percentage and remaining budget amount.

Use Cases:
A user logins into his session using user name and password and creates budget and use the budgeting tool.
