<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Record Storage</title>
    <%- include('partials/header.ejs') %> 
</head>
<body>
    <%- include('partials/navbar.ejs') %>
    
    <div class="container mt-4">
        <h1>Hello, this is a page for storage records</h1>
    </div>

    
    <%- include('partials/footer.ejs') %> 
</body>
</html>